/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: Helvetica, Arial;
   margin: 0px;
 }

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 45px;
  color: #1f4e9b;
  background: lightgrey;
  margin: 0px;
  padding: 10px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 35px;
  border-bottom: 3px solid black;
  color: #3390c6;
}

 header {
   text-align: center;
 }

 body > nav {
   text-align: right;
   padding: 10px 20px;
   background-color: black;
   color: white;
 }
.userinfo {
  text-align: center;
  font-weight: bold;
}

.restaurant{
  border: 2px solid black;
  display: block;
  float: left;
  margin: 10px;
  padding: 20px;
}
 main {
   max-width: 800px;
   margin: auto;
   padding: 0px 20px;
 }

br {
  line-height: 1.5;
}
a {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: lightblue;
}

form {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: solid 2px black;
}
.button {
  font-size: 20px;
  color: red;
}
 p {
   color: #666666;
 }

 img {
   max-width: 300px;
 }

ul {
  padding: 0px;
}
 li {
   text-align: center;
   list-style-type: none;
   line-height: 1.5;
 }

 footer {
   color: white;
   background-color: black;
   text-align: center;
 }

 @media (max-width: 600px) {

   body {
     background-color: black;
     color: white;
